body{
    background-color: #d1eaf0;
    color: #014f86;
}


.centered{
    font-size: 50px;
    text-align: center;
}

.parent-container{
    display: flex;
    justify-content: center;
    
    margin-top: 10vh;
}

.nav-links {
    display: none;
  }
  
  /* Style the hamburger menu bars */
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
  }